<header>
    <nav class="navbar">
        <div class="container-fluid">
          <a class="navbar-brand text-white " href="/home">
            <img src="/assets/tatuador.png" id="logo-img" alt="" width="50" height="50" class="d-inline-block align-text-top">
            Border Radius Calculator
          </a>
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="#">Border Radius</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="https://www.instagram.com/caio_colaco/">Instagram</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="https://github.com/CaioLuColaco">GitHub</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled ">Colaço's dev</a>
            </li>
          </ul>
        </div>
    </nav>
</header>